<app-header></app-header>

<ion-content>
  <ion-searchbar debounce="500" placeholder="Pesquisar ONG/OSC" (ionChange)="filterCommunity()" [(ngModel)]="search">
  </ion-searchbar>
  <app-community [communities]="filteredCommunities">
  </app-community>
  <hr style="margin-top: 60px;">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    <ion-fab-button color="success">
      <ion-icon name="add" routerDirection="forward" [routerLink]="'/create-community'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>