<ion-card *ngFor="let ong of ongs">
  <ion-card-header routerDirection="forward" [routerLink]="'/ong/' + ong._id">
    <h4 class="ong-name">{{ong?.name}}</h4>
  </ion-card-header>
  <ion-card-content *ngIf="ong?.description">
    {{ong?.description}}
  </ion-card-content>
  <!-- <ion-card-content *ngIf="ong?.address">
    {{ong?.address.logradouro}}, {{ong?.address.numero}} - {{ong?.address.bairro}}, {{ong?.address.localidade}} -
    {{ong?.address.uf}}, {{ong?.address.cep}}
  </ion-card-content>
  <ion-card-content class="social-media" *ngIf="ong?.social">
    <a href="{{lan.link}}" class="logo-{{lan.name}}" rel="noopener noreferrer" target="_blank"
      *ngFor="let lan of ong?.social">
      <ion-icon name="logo-{{lan.name}}"></ion-icon>
    </a>
  </ion-card-content> -->
</ion-card>