<app-header></app-header>

<ion-content>
  <ion-searchbar debounce="500" placeholder="Pesquisar ONG/OSC" (ionChange)="filterOscs()" [(ngModel)]="search">
  </ion-searchbar>
  <app-ong [ongs]="filteredOngs">
  </app-ong>
  <hr style="margin-top: 60px;">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    <ion-fab-button color="success">
      <ion-icon name="add" routerDirection="forward" [routerLink]="'/create-ong'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>