ion-card {
  ion-card-header {
    background-color: #1DA879;

    .community-name {
      margin: 0;
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  ion-card-content:nth-child(2) {
    padding-top: 13px !important;
  }
}
