<ion-card *ngFor="let community of communities">
  <ion-card-header routerDirection="forward" [routerLink]="'/community/' + community._id">
    <h4 class="community-name">{{community?.name}}</h4>
  </ion-card-header>
  <ion-card-content *ngIf="community?.description">
    {{community?.description}}
  </ion-card-content>
</ion-card>