<ion-header>
  <ion-toolbar class="header-background">
    <ion-buttons slot="start" color="light" class="text-white" routerDirection="back" (click)="shared.back()">
      <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-img class="header-logo" [src]="shared.logo"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>