<ion-content>

  <ion-grid *ngIf="!ongService?.loadedOng">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner color="success" name="lines"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Carregando...</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="ongService?.loadedOng">

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <span class="title">Membros</span>
      </ion-col>
      <ion-col size="12" *ngFor="let member of memberList">
        <ong-members [member]="member"></ong-members>
      </ion-col>
    </ion-row>

  </ion-grid>
  <hr style="margin-top: 60px;">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!ongService.ongMember">

    <ion-fab-button color="ong" (click)="apply()">
      <ion-icon name="add" style="zoom: 1.5"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>