<app-header></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('bio')" *ngIf="!options.bio">
          Alterar BIO
        </ion-button>
        <ion-grid *ngIf="options.bio">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>Alterar Biografia</h5>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Biografia</ion-label>
                <ion-textarea [(ngModel)]="newBio"></ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('bio')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="updateBio()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('email')">
          Alterar configurações de email
        </ion-button>
      </ion-col> -->
      <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('privacy')" *ngIf="!options.privacy">
          Alterar configurações de privacidade
        </ion-button>
        <ion-grid *ngIf="options.privacy">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>Alterar Privacidade</h5>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label>Exibir email no perfil</ion-label>
                <ion-checkbox color="ong" slot="start" [(ngModel)]="privacy"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('privacy')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="updatePrivacy()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('security')" *ngIf="!options.security">
          Alterar Senha
        </ion-button>
        <ion-grid *ngIf="options.security">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>Alterar Senha</h5>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Senha Antiga <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="password" [(ngModel)]="security.oldPass"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Nova Senha <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="password" [(ngModel)]="security.newPass"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Confirmar Nova Senha <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="password" [(ngModel)]="security.confirmNewPass"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('security')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="updatePass()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="medium" (click)="shared.logOut()">
          <ion-icon name="log-out"></ion-icon> SAIR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>