<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <span class="title">Contatos</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-text-center" size="12" *ngIf="communityService?.loadedCommunity?.email">
        <ion-icon name="mail" style="zoom: 4"></ion-icon><br />
        <b>{{ communityService?.loadedCommunity?.email }}</b>
      </ion-col>
      <ion-col class="ion-text-center" size="12" *ngIf="communityService?.loadedCommunity?.phone">
        <ion-icon name="call" style="zoom: 6"></ion-icon><br />
        <b>{{ communityService?.loadedCommunity?.phone }}</b>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="communityService?.loadedCommunity?.social?.length > 0">
      <ion-col size="12" class="ion-text-center col-title">
        <hr class="back-hr" />
        <span class="title">Redes Sociais</span>
      </ion-col>
      <ion-col size="12" class="social-media" *ngIf="communityService?.loadedCommunity?.social"><a href="{{lan.link}}"
          class="logo-{{lan.name}}" rel="noopener noreferrer" target="_blank"
          *ngFor="let lan of communityService?.loadedCommunity?.social">
          <ion-icon name="{{lan.name !== 'site' ? 'logo-'+lan.name : 'globe'}}"></ion-icon>
        </a></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>