<ion-content>

  <ion-grid *ngIf="!communityService?.loadedCommunity">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner color="success" name="lines"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Carregando...</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="communityService?.loadedCommunity">

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <span class="title">Membros</span>
      </ion-col>
      <ion-col size="12" *ngFor="let member of communityService?.loadedCommunity?.members">
        <ong-members [member]="member"></ong-members>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>