<app-header></app-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col class="ion-align-self-center ion-text-center" size="12">
      <h1 class="titulo">CADASTRO DE COMUNIDADE</h1>
    </ion-col>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input type="text" [(ngModel)]="community.name" name="name" id="name"
          placeholder="Informe o nome da Comunidade" required></ion-input>
        <ion-label color="danger">*</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="email" [(ngModel)]="community.email" name="email" id="email"
          placeholder="Informe email para contato" required></ion-input>
        <ion-label color="danger">*</ion-label>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="community.phone" name="phone" id="phone"
          placeholder="Informe telefone para contato" [brmasker]="{phone: true}" required></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-textarea [(ngModel)]="community.description" name="description" id="description"
          placeholder="Descrição da comunidade..."></ion-textarea>
      </ion-item>
      <!-- <ion-item class="no-validate">
        <ion-input type="text" [brmasker]="{mask: '00000-000', type:'num'}" [(ngModel)]="community.address.cep"
          name="cep" id="cep" placeholder="Informe o CEP" required (ionBlur)="findCep()"></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="community.address.logradouro" name="logradouro" id="logradouro"
          placeholder="Informe a rua" required [disabled]="searchAlert"></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="community.address.bairro" name="bairro" id="bairro"
          placeholder="Informe o Bairro" required [disabled]="searchAlert"></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="community.address.localidade" name="localidade" id="localidade"
          placeholder="Informe a cidade" required [disabled]="searchAlert"></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="community.address.numero" name="numero" id="numero"
          placeholder="Informe o número" required [disabled]="searchAlert"></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="community.address.complemento" name="complemento" id="complemento"
          placeholder="Informe o complemento" required [disabled]="searchAlert"></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="community.address.uf" name="uf" id="uf" placeholder="Informe o estado"
          required [disabled]="searchAlert"></ion-input>
      </ion-item> -->

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col class="ion-align-self-center ion-text-center" size="12">
          <ion-button shape="round" class="center" color="success" type="submit">CADASTRAR
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-row>

</ion-content>