<app-header></app-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col class="ion-align-self-center ion-text-center" size="12">
      <h1 class="titulo">CADASTRO DE CLIENTE</h1>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-input type="name" [(ngModel)]="register.name" name="name" id="name" class="form-control" placeholder="Nome"
      required></ion-input>
    <small class="form-text text-muted">Informe o nome completo *</small>
  </ion-item>
  <ion-item>
    <ion-input type="email" [(ngModel)]="register.email" [email]="true" name="email" id="email" placeholder="E-mail"
      required email></ion-input>
    <small class="form-text text-muted">Informe o email *</small>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="register.confirmEmail" name="ConfirmEmail" id="ConfirmEmail" type="email"
      class="form-control col" placeholder="Confirmar E-mail" required email>
    </ion-input>
    <small class="form-text text-muted">Confirme o email *</small>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="register.password" name="password" id="password" placeholder="Senha"
      required></ion-input>
    <small class="form-text text-muted">*</small>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="register.confirmPassword" name="confirmPassword" id="confirmPassword"
      placeholder="Confirmar senha" required (keyup.enter)="validateRegister()">
    </ion-input>
    <small class="form-text text-muted">*</small>
  </ion-item>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col class="ion-align-self-center ion-text-center" size="12">
      <ion-button shape="round" class="center" color="success" (click)="validateRegister()">CADASTRAR
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>