<app-header></app-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col class="ion-align-self-center ion-text-center" size="12">
      <h1 class="titulo">CADASTRO DE OSC / ONG</h1>
    </ion-col>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input type="text" [(ngModel)]="ong.name" name="name" id="name" placeholder="Informe o nome da ONG"
          required></ion-input>
        <ion-label color="danger">*</ion-label>
      </ion-item>
      <ion-item>
        <ion-input type="email" [(ngModel)]="ong.email" name="email" id="email" placeholder="Informe email para contato"
          required></ion-input>
        <ion-label color="danger">*</ion-label>
      </ion-item>
      <ion-item class="no-validate">
        <ion-input type="text" [(ngModel)]="ong.phone" name="phone" id="phone"
          placeholder="Informe telefone para contato" [brmasker]="{phone: true}" required></ion-input>
      </ion-item>
      <ion-item class="no-validate">
        <ion-textarea [(ngModel)]="ong.description" name="description" id="description"
          placeholder="Descrição da OSC / ONG..."></ion-textarea>
      </ion-item>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col class="ion-align-self-center ion-text-center" size="12">
          <ion-button shape="round" class="center" color="success" type="submit">CADASTRAR
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-row>

</ion-content>