<ion-content class="background">
  <ion-grid class="home-bg">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="end" class="text-white">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <div>
          <ion-img [src]="shared.logo" class="logo"></ion-img>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center" *ngIf="!shared.currentUser">
        <ion-button shape="round" color="light" class="home-btn" (click)="login()">Entrar</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button shape="round" color="light" class="home-btn" routerDirection="root" [routerLink]="'/ongs'">OSCs /
          ONGs
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button shape="round" color="light" class="home-btn" routerDirection="root" [routerLink]="'/communities'">
          Comunidades</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center" *ngIf="shared.currentUser">
        <ion-button shape="round" color="light" class="home-btn" routerDirection="root" [routerLink]="'/myongs'">Minhas
          OSCs / ONGs
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center" *ngIf="shared.currentUser">
        <ion-button shape="round" color="light" class="home-btn" routerDirection="root" [routerLink]="'/mycommunities'">
          Minhas Comunidades
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="toolbar-footer" (click)="goToDevs()">
      <ion-col size="12" class="ion-text-center">
        Desenvolvido pelo núcleo BH
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>