ion-list.members {
  padding: 0 14px !important;

  ion-list-header {
    padding: 0;

    h2 {
      background-color: #ffffff;
      display: block;
      text-align: center;
      margin: 14px auto !important;
      padding: 0 10px;
      z-index: 5;
    }
  }
}

ion-tab-button {
  --background-focused: #1DA879 !important;
  --color-selected: #1DA879 !important;
}
