<app-header></app-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center col-title">
        <h1>{{ong?.name}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="at"></ion-icon>
        <ion-label>Contatos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="members">
        <ion-icon name="person"></ion-icon>
        <ion-label>Membros</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="config" *ngIf="ongService?.ongMember?.access >= 9">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- <ion-row>
      <ion-col size="12" class="ion-text-center col-title">
        <hr class="back-hr" />
        <span class="title">Contato</span>
      </ion-col>
      <ion-col size="12" *ngIf="ong?.email"><b>E-mail:</b> {{ong?.email}}</ion-col>
      <ion-col size="12" *ngIf="ong?.phone"><b>Telefone:</b> {{ong?.phone}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center col-title">
        <hr class="back-hr" />
        <span class="title">Endereço</span>
      </ion-col>
      <ion-col size="12">{{ong?.address.logradouro}}, {{ong?.address.numero}} - {{ong?.address.bairro}},
        {{ong?.address.localidade}} -
        {{ong?.address.uf}}, {{ong?.address.cep}}</ion-col>
    </ion-row>
    <ion-row *ngIf="ong?.social?.length > 0">
      <ion-col size="12" class="ion-text-center col-title">
        <hr class="back-hr" />
        <span class="title">Redes Sociais</span>
      </ion-col>
      <ion-col size="12" class="social-media" *ngIf="ong?.social"><a href="{{lan.link}}" class="logo-{{lan.name}}"
          rel="noopener noreferrer" target="_blank" *ngFor="let lan of ong?.social">
          <ion-icon name="logo-{{lan.name}}"></ion-icon>
        </a></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center col-title">
        <hr class="back-hr" />
        <span class="title">Membros</span>
      </ion-col>
      <ion-col size="12" *ngFor="let member of ong?.members">
        <ong-members [member]="member"></ong-members>
      </ion-col>
    </ion-row> -->
  <!-- <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngIf="ongMember?.access > 0">
    <ion-fab-button color="success">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="person-add" (click)="addMember()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngIf="ongMember?.access === 2">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>