<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="ion-text-center">
          <ion-avatar>
            <img src="../../../assets/images/avatar.svg">
          </ion-avatar>
          <ion-badge color="danger" *ngIf="member.access === 10">Admin</ion-badge>
          <ion-badge color="warning" *ngIf="member.access === 9">Moderador</ion-badge>
          <ion-badge color="ong" *ngIf="member.access === 8">Colaborador</ion-badge>
          <ion-badge color="secondary" *ngIf="member.access === 0">Membro</ion-badge>
        </ion-col>
        <ion-col size="8" class="ion-text-center">
          <h2>{{member.user.name}}</h2>
          <p *ngIf="member.user.about">{{member.user.about}}</p>
          <p *ngIf="member.user.showContact">{{member.user.email}}</p>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>