ion-card-content {
  padding: 10px !important;
}

ion-badge {
  margin-top: 10px;
}

ion-avatar {
  margin: auto;
  max-width: 40px;
  max-height: 40px;
}

h2 {
  font-weight: bold;
}

p {
  margin-top: 5px;
}