<app-header></app-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="at"></ion-icon>
        <ion-label>Contatos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="members">
        <ion-icon name="person"></ion-icon>
        <ion-label>Membros</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="config" *ngIf="communityService?.communityMember?.access >= 9">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>