<ion-content>

  <ion-grid *ngIf="!communityService?.loadedCommunity">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner color="success" name="lines"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Carregando...</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="communityService?.loadedCommunity">
    <ion-row>
      <ion-col size="12" class="ion-text-justify">
        {{communityService?.loadedCommunity?.description}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="communityService?.loadedCommunity?.address">
      <ion-col size="12" class="ion-text-center">
        <span class="title">Endereço</span>
      </ion-col>
    </ion-row>
    <div id="mapa" style="height:200px" *ngIf="showMap"></div>
    <ion-row *ngIf="communityService?.loadedCommunity?.address">
      <ion-col size="12">{{communityService?.loadedCommunity?.address.logradouro}},
        {{communityService?.loadedCommunity?.address.numero}} -
        {{communityService?.loadedCommunity?.address.bairro}},
        {{communityService?.loadedCommunity?.address.localidade}} -
        {{communityService?.loadedCommunity?.address.uf}}, {{communityService?.loadedCommunity?.address.cep}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>