<ion-header>
  <ion-toolbar class="header-background">
    <ion-buttons slot="start" color="light" class="text-white" routerDirection="back" (click)="shared.back()">
      <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-img class="header-logo" [src]="shared.logo"></ion-img>
    </ion-title>
    <ion-buttons slot="end" color="light" class="text-white" (click)="modalController.dismiss()">
      <ion-icon name="close" style="zoom:2.0;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-align-self-center ion-text-center" size="12">
        <h1 class="titulo">Realize seu login</h1>
        <ion-item>
          <ion-label position="stacked">E-MAIL<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="email" type="email" placeholder="Usuário" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">SENHA<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="password" (keyup.enter)="onSubmitLogin()" type="password" placeholder="Senha"
            required></ion-input>
        </ion-item>
        <ion-button shape="round" color="ong" (click)="onSubmitLogin()">ACESSAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="ong-green text-white ion-text-center">
    <ion-title routerDirection="root" [routerLink]="'/register'" (click)="modalController.dismiss()">REGISTRE-SE
    </ion-title>
  </ion-toolbar>
</ion-footer>