<ion-content>

  <ion-grid *ngIf="!ongService?.loadedOng">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner color="success" name="lines"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Carregando...</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="ongService?.loadedOng">
    <ion-row>
      <ion-col size="12" class="ion-text-justify">
        {{ongService?.loadedOng?.description}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="ongService?.loadedOng?.address">
      <ion-col size="12" class="ion-text-center">
        <span class="title">Endereço</span>
      </ion-col>
    </ion-row>
    <div id="mapa" style="height:200px" *ngIf="showMap"></div>
    <ion-row *ngIf="ongService?.loadedOng?.address">
      <ion-col size="12">{{ongService?.loadedOng?.address.logradouro}}, {{ongService?.loadedOng?.address.numero}} -
        {{ongService?.loadedOng?.address.bairro}},
        {{ongService?.loadedOng?.address.localidade}} -
        {{ongService?.loadedOng?.address.uf}}, {{ongService?.loadedOng?.address.cep}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>