/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.ong-green {
  --ion-background-color: #1DA879;
  background-color: #1DA879;
  --background: #1DA879;
}

.background {
  --background: url(/assets/images/bg.jpg) center center/auto 100% no-repeat;
}

.header-background {
  --background: #1DA879;
  height: 100px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 200px;
  display: block;
  margin: auto;
}

.home-bg {
  background: #1DA879E6;
  // background: #49335fE6;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.text-white {
  color: #ffffff;
}

.col-title {
  padding: 5px 14px !important;
}

.back-hr {
  position: absolute;
  width: 320px;
  max-width: inherit;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  border-top: 2px solid #1DA879;
}

.home-btn {
  max-width: 70vw;
  width: 100%;
  font-weight: bold;
}

span.title {
  background-color: #ffffff;
  margin: 14px auto !important;
  padding: 0 10px;
  font-size: 1.3em;
  font-weight: bold;
  z-index: 5;
  position: relative;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  ion-icon {
    zoom: 2;
  }
}

form {
  width: 90%;
}

.no-validate {
  --highlight-color-invalid: transparent
}

.logo-facebook {
  color: #4267b2 !important
}

.logo-instagram {
  color: #8941a7;
}

.logo-linkedin {
  color: #0077b5 !important
}

.logo-twitter {
  color: #1da1f2 !important
}

.logo-youtube {
  color: #ff0404 !important
}

.logo-site {
  color: #1DA879 !important
}
