<app-header></app-header>

<ion-content>
  <ion-searchbar debounce="500" placeholder="Pesquisar Comunidade" (ionChange)="filterCommunity()" [(ngModel)]="search">
  </ion-searchbar>
  <app-community [communities]="filteredCommunities">
  </app-community>
</ion-content>