<app-header></app-header>

<ion-content>
  <ion-searchbar debounce="500" placeholder="Pesquisar ONG/OSC" (ionChange)="filterOscs()" [(ngModel)]="search">
  </ion-searchbar>
  <app-ong [ongs]="filteredOngs">
  </app-ong>
</ion-content>