<ion-content>

  <ion-grid *ngIf="ongService?.ongMember?.access < 9">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="lock-closed" style="zoom: 3"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Não Autorizado</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="ongService?.ongMember?.access >= 9">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('address')" *ngIf="!options.address">
          {{ongService?.loadedOng?.address ? 'Alterar Endereço' : 'Adicionar Endereço'}}
        </ion-button>
        <ion-grid *ngIf="options.address">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>{{ongService?.loadedOng?.address ? 'Alterar Endereço' : 'Adicionar Endereço'}}</h5>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">CEP <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" [brmasker]="{mask: '00000-000', type:'num'}" [(ngModel)]="address.cep" name="cep"
                  id="cep" placeholder="Informe o CEP" required (ionBlur)="findCep()"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Cidade <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" [(ngModel)]="address.localidade" name="localidade" id="localidade"
                  placeholder="Informe a cidade" required [disabled]="searchAlert"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">UF <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" [(ngModel)]="address.uf" name="uf" id="uf" placeholder="Informe o estado"
                  required [disabled]="searchAlert"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Logradouro <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" [(ngModel)]="address.logradouro" name="logradouro" id="logradouro"
                  placeholder="Informe a rua" required [disabled]="searchAlert"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Bairro <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" [(ngModel)]="address.bairro" name="bairro" id="bairro"
                  placeholder="Informe o Bairro" required [disabled]="searchAlert"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Número</ion-label>
                <ion-input type="text" [(ngModel)]="address.numero" name="numero" id="numero"
                  placeholder="Informe o número" required [disabled]="searchAlert"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Complemento</ion-label>
                <ion-input class="no-validade" type="text" [(ngModel)]="address.complemento" name="complemento"
                  id="complemento" placeholder="Informe o complemento" required [disabled]="searchAlert"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" id="mapbox">
              <div id="mapaloc" style="width: 95%; height:200px" *ngIf="showMap"></div>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('address')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="updateAddress()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('social')" *ngIf="!options.social">
          Adicionar Rede Social
        </ion-button>
        <ion-grid *ngIf="options.social">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>Adicionar Rede Social</h5>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Selecione o tipo da rede <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select [(ngModel)]="socialToAdd.name" required>
                  <ion-select-option *ngFor="let social of shared.socialType" value="{{ social.type }}">
                    {{ social.type | titlecase }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Informe a url <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" [(ngModel)]="socialToAdd.link" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('social')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="setSocial()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('socialEdit')" *ngIf="!options.socialEdit">
          Remover Rede Social
        </ion-button>
        <ion-grid *ngIf="options.socialEdit">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>Remover Rede Social</h5>
            </ion-col>
            <ion-col size="12">
              <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-item *ngFor="let social of ongService.loadedOng.social">
                  <ion-label>
                    <h5>{{social.name | titlecase}}</h5>
                  </ion-label>
                  <ion-icon name="trash" slot="end" color="danger" (click)="ongService.removeSocial(social)"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('socialEdit')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="updateSocial()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col> -->
      <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('members')" *ngIf="!options.members">
          Editar Membro
        </ion-button>
        <ion-grid *ngIf="options.members">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>Editar Membro</h5>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Selecione um Membro <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select [(ngModel)]="memberToEdit.id" required>
                  <ion-select-option *ngFor="let member of memberList" value="{{ member._id }}">
                    {{ member.user.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item [disabled]="!memberToEdit.id">
                <ion-label position="floating">Selecione o cargo <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select [(ngModel)]="memberToEdit.access" required>
                  <ion-select-option value="10" *ngIf="ongService.ongMember.access === 10">Administrador
                  </ion-select-option>
                  <ion-select-option value="9">Moderador</ion-select-option>
                  <ion-select-option value="8">Colaborador</ion-select-option>
                  <ion-select-option value="0">Membro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('members')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="updateMember()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="ong" (click)="openConfig('authority')" *ngIf="!options.authority">
          Transferir autoridade
        </ion-button>
        <ion-grid *ngIf="options.authority">
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <h5>Transferir autoridade</h5>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Selecione um Membro <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select [(ngModel)]="memberToTransfer.id" required>
                  <ion-select-option *ngFor="let member of memberList" value="{{ member._id }}">
                    {{ member.user.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="warning" (click)="openConfig('authority')">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="transferAutority()">
                Salvar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>